<div class="main-content">

  <section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
   
      <mat-card-title>LOGIN</mat-card-title>

      <div *ngIf="isLoginError" class="red-text center error-message">
        <i class="material-icons">error</i> Incorrect username or password
    </div>
      <form #userLoginForm="ngForm" (ngSubmit)="OnSubmit(Username?.value,Password?.value)">

        <div class="form-group">
        
          <input  type="text" #Username ngModel name="Username" class="form-control" placeholder="Username" required>
   
        </div>

        <div class="form-group">
        
          <input  type="password" #Password ngModel name="Password" class="form-control" placeholder="Password" [pattern]="passwordpattern" required>
   
        </div>

        <div class="form-group">
        
          <button  type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!userLoginForm.valid" >LOGIN</button>

    
        </div>

      </form>
    </mat-card>
  </section>
</div>
